<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Showing Flight info</title>
</head>
<body>
<div>
    <h2>Registration Succeeded!</h2>
    <span>Full name:</span><span th:text="${Flightinfo.from}"></span><br/>
    <span>E-mail:</span><span th:text="${Flightinfo.to}"></span><br/>
    <span>Password:</span><span th:text="${Flightinfo.date}"></span><br/>
    <span>Gender:</span><span th:text="${Flightinfo.passengers}"></span><br/>
</div>
</body>
</html>