<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Seat Selection</title>
</head>
<body>
<div>
    <h1>Seat Selection</h1>
<!-- <span th:text=""></span> -->
    <ul th:each="num: ${FilledSeats}">
        <li th:text="${num.Seat}"></li>
    </ul> 

    <!--
    <form action="#" th:action="@{/FlightInfo}" method="post" th:object="${Flightinfo}">
        <label>From:</label>
        <input type="text" th:field="*{from}" /><br/>
 
        <label>To:</label>
        <input type="text" th:field="*{to}" /><br/>

        <label>Date:</label>
        <input type="date" th:field="*{date}" /><br/>
 
        <label>Numbe of passengers</label>
        <input type="number" th:field="*{passengers}"/><br/>
        <button type="submit">Register</button>    
    </form>
    -->
    <button type="submit">submit</button>
</div>
</body>
</html>