<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./contact.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Contact us</title>
</head>
<body>
  <header>
    <a href="\FlightInfo"><img th:src="@{/img/LOGO.svg}" alt="" srcset="" class="logo"></a>
    <div><a href="\FlightInfo">Return</a></div>
</header>
    <div class="container">
      <h1>Our Team</h1>
        <div class="main-card">
          <div class="cards">
            <div class="card">
             <div class="content">
               <div class="img">
                <img src="./img/alan.jpeg" alt="">
               </div>
               <div class="details">
                 <div class="name">Alan Mohan</div>
                 <div class="job">Backend Developer</div>
               </div>
               <div class="media-icons">
                 <a href="https://www.linkedin.com/in/alan-mohan-2b9608232/"><ion-icon name="logo-linkedin" class="icon1"></ion-icon></a>
                 <a href="https://github.com/alanmohan"><ion-icon name="logo-github" class="icon1"></ion-icon></a>
               </div>
             </div>
            </div>
            <div class="card">
             <div class="content">
               <div class="img">
                <img src="./img/vansh1.jpeg" alt="">
               </div>
               <div class="details">
                 <div class="name">Vansh Gupta</div>
                 <div class="job">Frontend Developer</div>
               </div>
               <div class="media-icons">
                 <a href="https://www.linkedin.com/in/vansh-gupta-1557ab1ba/"><ion-icon name="logo-linkedin" class="icon1"></ion-icon></a>
                 <a href="https://github.com/vansh18"><ion-icon name="logo-github" class="icon1"></ion-icon></a>
               </div>
             </div>
            </div>
            <div class="card">
             <div class="content">
               <div class="img">
                <img src="./img/rahul.jpg" alt="">
               </div>
               <div class="details">
                 <div class="name">Rahul Sumbly</div>
                 <div class="job">Database Manager</div>
               </div>
               <div class="media-icons">
                 <a href="https://www.linkedin.com/in/rahul-sumbly/"><ion-icon name="logo-linkedin" class="icon1"></ion-icon></a>
                 <a href="https://github.com/Rahul-s-007"><ion-icon name="logo-github" class="icon1"></ion-icon></a>
               </div>
             </div>
            </div>
            <div class="card">
             <div class="content">
               <div class="img">
                 <img src="./img/ameya.jpg" alt="">
               </div>
               <div class="details">
                 <div class="name">Ameya Navare</div>
                 <div class="job">Backend Developer</div>
               </div>
               <div class="media-icons">
                 <a href="#"><ion-icon name="logo-linkedin" class="icon1"></ion-icon></a>
                 <a href="https://github.com/Ameya-Nav"><ion-icon name="logo-github" class="icon1"></ion-icon></a>
               </div>
             </div>
            </div>
        </div>
        </div>
      </div>
</body>
</html>