<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/ShowAvailableFlight.css}">
    <title>Flight Detail</title>
</head>
<body>
<!-- Navigation -->
<header>
    <a href="\FlightInfo"><img th:src="@{/img/LOGO.svg}" alt="" srcset="" class="logo"></a>
    <div><a href="\FlightInfo">Return</a></div>
</header>
<section>
    <div class="message">
        <h1 class="city">Select Your Flight from</h1>
        <span id="depart_city">Dubai</span>
        <span class="city">to</span>
        <span id="arrive_city">Paris</span>
    </div>
    <div class="container">
        <ul th:each="num: ${avf}">
            <div class="main_box">
                <div id="flight_number">
                    Flight No.
                    <li th:text="${num.Flightnums}">EK-501</li>
                </div>
                <div id="depart_time">
                    <li th:text="${num.DepartureTime}">5:20</li>
                </div>
                <div id="icon"><img th:src="@{/img/center_design.svg}" alt="" srcset=""></div>
                <div id="arrive_time">
                    <li th:text="${num.ArrivalTime}">17:00</li>
                </div>
                <a href="selection.html"id="economy">Economy
                    <li th:text="${num.EconomyPrice}">AED 1200</li>
                </a> 
            </div>
        </ul>
    </div>
</section>
</body>
</html>