<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Showing Flight info</title>
</head>
<body>
<div>
    <h2>Available FLights</h2>
    <!-- <span>From: </span><span th:text="${Flightinfo.from}"></span><br/>
    <span>To: </span><span th:text="${Flightinfo.to}"></span><br/>
    <span>Date: </span><span th:text="${Flightinfo.date}"></span><br/>
    <span>Number of passengers: </span><span th:text="${Flightinfo.passengers}"></span><br/> -->
    <h2>Available flights: </h2>
    <div class="flights">
        fetch from db Available flights and display here
        <h3>flight nos</h3>
         <ul th:each="num: ${avf}">
            <li th:text="${num.Flightnums}"></li>
            <li th:text="${num.DepartureTime}"></li>
            <li th:text="${num.ArrivalTime}"></li>
            <li th:text="${num.EconomyPrice}"></li>
            <li th:text="${num.BusinessPrice}"></li>
        </ul>
        <!-- <table>
            <thead>
                <tr>
                    <th> Flights nos</th>
                    <th> Author </th>
                </tr>
            </thead>
            <tbody>
           <tr th:if="${avf.empty}">
                    <td colspan="2"> No Books Available </td>
                </tr> 
                <tr th:each="p: ${avf}">
                    <td><span th:text="${p.FlightNums}"> Flight num </span></td>
                    <td><span th:text="${pFrom}"> Author </span></td>
                </tr>
            </tbody>
        </table> -->
        <!-- <span th:each="p : ${avf}" th:text="${p.Flightnums}"></span>
        <br>
        <span th:each="p : ${avf}" th:text="${p.From}"></span>
        <br>
        <span th:each="p : ${avf}" th:text="${p.To}"></span>
        <br> -->
        <!-- <span th:each="p : ${avf}" th:text="${{p.FlightDate}}"></span> -->
        <!-- <span th:text="${#dates.format(p.FlightDate, 'yyyy-MMM-dd')}"></span> -->
    </div>
</div>
<div class="form">
    <form action="#" th:action="@{/ShowAvailableFlight}" method="post" th:object="${FlightNo}">
        <input type="text"th:field="*{FlightNo}">
         <button type="submit">submit</button>
    </form>
</div>
</body>
</html>